@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

:root {
  --toastify-color-dark: #18181b;
  --toastify-color-success: hsl(83, 13%, 45%);
  --toastify-color-error: hsl(6, 52%, 45%);
}
